[Desktop Entry]
Name=Screen Configuration
GenericName=Screen Settings
GenericName[de]=Bildschirmeinstellungen
Icon=computer
Exec=arandr
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
